.Main_kids_tri {
    width: 90vw;
    /* border: 1px solid blue; */
    margin: auto;
}

.render_data_kids {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;

}


.kids_image {
    width: 100%
}
.span_div {
    display: flex;
    justify-content: space-around;
}