.render_data_Polo{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:14px;
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;

}

.Main_poloShirt_tri{
    width: 100vh;
    /* border: 1px solid blue; */
    margin: auto;

}

.polo_image{
    width: 100%
}