.Navbar_Tripathi{
    height: 100px;
    width: 97%;
    display: flex;
    margin: auto;

    align-items: center;
    /* background: blue; */
    /* padding: 10px; */
    /* border: 1px solid yellow; */
    justify-content: space-between;
}



.Right_Navbar{
    width: 20%;
   display: flex; 
   justify-content: space-between;
   flex-direction: end;
   /* border: 1px solid black; */
   align-items: center;
   font-size: 12px;
  
} 

.Left_Navbar{
   width: 38%;
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    align-items: center;
 } 


.Zara_Logo_Tr{
   
        height: 90%;
        /* margin-left: 50px; */
        /* border: 1px solid white; */
        /* margin-right: auto; */
        margin: 10px 20px 10px 70px;
  
}